.title {
    color: red;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: greenyellow;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}

.footer {
    margin-top: 100px;
    display: flex;
    width: 1000px;
    height: 100px;
    margin-bottom: 50px;
    font-family: inherit;
}

.clack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 18, 236);
    color: greenyellow;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: inherit;
}

.flay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 86, 198);
    color: greenyellow;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: inherit;
}